.table-roles-body{
    height: 100%;
    width: 100%;
}


.permissoes-tabela {

  thead {
    background-color: #f9f9f9;
    th {
      padding: 12px;
      text-align: center;
      font-weight: bold;
      color: #333;
    }
  }

  tbody {
    td {
      text-align: center;
      padding: 12px;

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }

      &:first-child {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #222;
      }
    }

    tr:nth-child(even) {
      background: #f7f8fc;
    }
  }
}

.icon-gear {
  font-size: 18px;
  color: #5a5a5a;
}


.btn-azul {
  background-color: #1f74d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-verde {
  background-color: #2aa956;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.acoes {
  width: 100% ;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}