<div class="blur">
  <form #meuForm="ngForm" (ngSubmit)="onSubmit()">
    <img src="FinPilot600px.png" alt="">
    <h3>Criar empresa</h3>
    <input type="text" id="name" name="nome" [(ngModel)]="nome" required placeholder="Nome da empresa*"/>
    <input type="text" id="area" name="area" [(ngModel)]="area" required placeholder="Área de atuação*"/>
    <div class="row-buttons">
      <input type="text" id="city" name="city" [(ngModel)]="city" required placeholder="Cidade*"/>
      <input type="text" id="state" name="state" [(ngModel)]="state" required placeholder="Estado*"/>
    </div>
    <input type="text" id="cnpj" name="cnpj" [(ngModel)]="cnpj" required placeholder="CNPJ"/>
    <div class="row-buttons buttons">
      <button type="button" class="cancel">Cancelar</button>
      <button type="submit" class="send">Enviar</button>
    </div>

  </form>
</div>
