.admin-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}


button{
    width: 275px;
    height: 65px;
}

.row-buttons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 145px;
}

.content{
    margin-top: 50px;
    width: 70%;
}

.content1{
width: 100%;
height: 500px;
}

.content2{
width: 1000px;
height: 500px;
// background-color:red;r

}

.content3{
width: 1000px

}

.row-buttons button.actived {
  background-color: #1976d2; // ou a cor que quiser
  color: white;
}