.register-body{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 95vh;
    align-content: center;
    padding-left: 40px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 20px;
    width: 500px;
    height: auto;
    justify-content: space-between;
    border-radius: 10px;
}


p{
    align-self: center
}

img{
    width: 300px;
    height: 300px;
    align-self: center;
    margin-top: 20px;
    margin-left: 30%;

}