.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #083358;
  transition: background-color 0.2s ease;
}

.sidebar ul li.active a {
  background-color: #dce5ee;
  font-weight: bold;
  border-left: 4px solid #1976d2;
  color: #083358;
}
