<div class="div-home">

  <app-generic-form
  *ngIf="exibirCreateCompanyForm"
  [campos]="createCompanyForm.fields"
  [title]="createCompanyForm.title || 'Título padrão'"
  [aoEnviar]="createCompanyForm.onSubmit"
  (cancelar)="fecharFormularioCreate()"
  ></app-generic-form>

  <app-generic-form
  *ngIf="exibirEnterCompanyForm"
  [campos]="enterCompanyForm.fields"
  [title]="enterCompanyForm.title || 'Título padrão'"
  [aoEnviar]="enterCompanyForm.onSubmit"
  (cancelar)="fecharFormularioEnter()">
</app-generic-form>
<app-navbar></app-navbar>
    <div class="airplanes-group">
        <img src="fly.png" alt="" class="fly" #plane1>
        <img src="fly.png" alt="" class="fly" #plane2>
        <img src="fly.png" alt="" class="fly" #plane3>
        <img src="fly.png" alt="" class="fly" #plane4>
    </div>
    <div class="row-flex" id="no-company" *ngIf="!hasCompany">
    <h1 style="text-align: center;">Home</h1>
    <div class="row-buttons">
        <button (click)="abrirFormularioCreate()">Criar empresas</button>
        <button (click)="abrirFormularioEnter()">Acessar empresa</button>
    </div>
    </div>
    <!-- <app-create-company></app-create-company> -->

    <div class="row-flex" id="functions" *ngIf="hasCompany">
        <h1>Painel de funcionalidades</h1>

        <div  class="grid-buttons" >
            <button *ngFor="let _function of functions"  (click)="navigateTo(_function.link)">{{_function.name}}</button>
        </div>
    </div>
</div>
