<div class="blur">
  <form [formGroup]="formulario" (ngSubmit)="submit()">
  <img src="FinPilot600px.png" alt="">
  <h3>{{title}}</h3>
  <div *ngFor="let campo of _campos" class="campo">
    <label>{{ campo.label }}</label>
    <input
      [type]="campo.tipo || 'text'"
      [formControlName]="campo.nome"
      [placeholder]="campo.label || ''"
      [required]="campo.requerido ?? false"
    />
  </div>
    <div class="row-buttons">
        <button (click)="cancelarFormulario()" class="cancel">Cancelar</button>

        <button type="submit" class="confirm">Confirmar</button>
    </div>
</form>

</div>
