.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #E2E8EB;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: 30%;
}

form img{
    height: 40px;
    width: 40px;
}


form input{
    width: 100%;
    height: 30px;
    border-radius: 45px;
    border: none;
    padding-left: 20px;

}

form button{
    margin-top: 40px;
    height: 40px;
    border-radius: 45px;
    border: none;
    width: 40%;
    cursor: pointer;
}

.row-buttons{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.cancel{
 background-color: #C5D6E6;
}

.confirm{
    background-color: #0A2E50;
    color: white;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    padding-right: 20px;
}

.campo label{
    color: #052340;
    font-weight: bold;
    padding-left: 10px;
  }
