@use './styles/variables' as *;

body{
  font-family: $font-stack;
  background-color: $primary-color;
  padding: $padding-base;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
